---
import Card from "@components/ui/Card.astro";
import type { BookmarkEntry } from 'utils/content';

export type Props = BookmarkEntry;
const props = Astro.props;
const url = new URL(props.data.link);
const faviconUrl = `https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=${url.origin}&size=32`;
---

<Card>
  <a href={(props.data.link)} class:list={[
      'flex w-full flex-row items-center justify-between rounded-md p-2 focus:outline-none focus-visible:ring focus-visible:ring-primary-300',
      'cursor-newtab'
  ]} target="_blank">
    <div class="flex flex-col mr-8">
      <h4>{props.data.title}</h4>
      <h5 class='text-gray-500 line-clamp-3'>{props.data.description}</h5>
    </div>
    <div class="relative w-8 h-8 flex-shrink-0">
      <div class="absolute inset-0 bg-gray-800/20 rounded-sm blur-sm"></div>
      <img
        src={faviconUrl}
        alt={`Favicon for ${props.data.title}`}
        class="relative h-full w-full rounded-sm opacity-0 transition-opacity duration-300"
        onload="this.style.opacity = 1"
        loading="lazy"
      />
    </div>
  </a>
</Card>
