---
import LatestPosts from "@components/LatestPosts.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { formatDate } from "utils/time";
import { Icon } from "astro-icon/components"

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  const paths = blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
  return paths;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout
  title={`${entry.data.title} | I Putu Bagus Merta Sentana`}
  description={entry.data.description} >
  <main>
    <Image
      src={entry.data.banner} 
      alt="Image Banner Blog" />
    <h1>{entry.data.title}</h1>
    <div class="metadata">
      <div class="metadata-item">
          <Icon name="ri:alarm-line"/>
          <strong>{entry.data.readCount}</strong>
      </div>
      <div class="metadata-item">
        <Icon name="ri:calendar-2-fill"/>
        <strong>{formatDate(entry.data.date)}</strong>
      </div>
    </div>
    <hr class="divider" />
    <article>
      <Content />
    </article>
    <LatestPosts />
  </main>
</BaseLayout>

<style>
  main {
    padding: 0 1rem 1rem 0;
  }
  article {
    margin-bottom: 4rem;
  }
  .divider {
    border-top: 1px solid #d2d2d2;
  }
  .date {
    font-weight: 200;
  }
  img {
    border-radius: 14px;
    width: 100%;
    height: auto;
  }
  span {
    font-weight: normal;
  }

  .metadata {
        display: flex;
        gap: 1rem;
        font-size: 1.2rem;
        font-weight: normal;
        color: #6d7785;
    }

  .metadata-item {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }
  
  @media (max-width: 600px){
    .metadata {
      font-size: 1rem;
    }
  }
</style>