---
import type { BlogEntry } from "utils/content";
import { formatDate } from "utils/time";
import { getBlogPathName } from "utils/url";
import { Image } from "@unpic/astro";
import { Icon } from "astro-icon/components"
import { getImage } from 'astro:assets';

export type Props = BlogEntry;

const props = Astro.props;
const imageUrl = await getImage(props.data.banner);
const resolvedImageWithDomain = new URL(imageUrl.src, Astro.site).toString();
---
  <li class:list={[
    'w-full rounded-md border border-gray-300 bg-white',
    'scale-100 hover:scale-[1.02] active:scale-[0.97] motion-safe:transform-gpu',
    'transition duration-100',
    'motion-reduce:hover:scale-100',
    'animate-shadow',
  ]}>
    <a class='block h-full rounded-md focus:outline-none focus-visible:ring focus-visible:ring-primary-300' href={getBlogPathName(props)}>
        <div class='relative'>
          <Image 
            src={resolvedImageWithDomain} 
            decoding='async'
            loading='lazy'
            alt='blog banner'  
            background="blurhash"           
           />
           <div class="absolute top-2 left-2 z-10">
            <div class="flex gap-2">
                {props.data.tags.map((type) => (
                    <div class="rounded-md bg-white text-gray-800 px-2 py-1 text-sm">{type}</div>
                ))}
            </div>
        </div>
        </div>
        <div class='p-4'>
            <h4 class='text-black-800'>{props.data.title}</h4>
            <div class='mt-2 flex items-center justify-start gap-2 text-sm font-normal text-gray-600'>
                <div class='flex items-center gap-1'>
                    <Icon name='ri:alarm-line'/>
                    <h5>{props.data.readCount}</h5>
                </div>
                <div class='flex items-center gap-1'>
                  <Icon name='ri:calendar-2-fill'/>
                  <h5>{formatDate(props.data.date)}</h5>
              </div>
            </div>
            <p class='text-md text-black-700'>{props.data.description}</p>
        </div>
    </a>
</li>


