---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components"
import { formatDate } from "utils/time";

export async function getStaticPaths() {
  const projectEntries = await getCollection('project');
  const paths = projectEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
  return paths;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout
  title={`${entry.data.title} | I Putu Bagus Merta Sentana`}
  description={entry.data.description}
  banner={entry.data.image.src}
  >
  <main>
    <section class='blog-layout'>
        <div class='py-20 px-4 md:px-28'>
          <div class="py-8 flex flex-col justify-center items-center">
              <Image
              class='mt-10 mb-4 rounded-lg'
              src={entry.data.image} 
              width={1200}
              height={(1200 * 2) / 5}
              alt='Image Banner projects' 
              decoding='async'
              loading='lazy'
              />
            </div>
            <h1 class='font-display text-4xl text-start py-2'>{entry.data.title}</h1>
            <h6 class='text-xl text-start'>{entry.data.description}</h6>
            <div class="flex items-center space-x-2 py-2">
              <Icon class="text-2xl text-gray-400" name="ri:link" />
              <a href={entry.data.link} class="text-l text-blue-500 hover:underline" target="_blank">Repository</a>
            </div>
            
  
          <article class='mt-4'>
            <div class='mdoc-container'>
              <Content />
            </div>
          </article>
  
        </div>
      
    </section>
  </main>
</BaseLayout>
