---
interface Props {
  title?: string;
  description?: string;
}

import "../styles/global.css";

import { SEO } from "astro-seo";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

let { title, description } = Astro.props;

title = title || "I Putu Bagus Merta Sentana - bagusmerta.dev";
description = description || "Bagus Merta's personal website";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <link rel="stylesheet" href="/fonts/Lora/Lora.css" />
    <link rel="stylesheet" href="/fonts/AlbertSans/AlbertSans.css" />

    <SEO
      title={title}
      description={description}
      canonical="https://bagusmerta.dev"
      openGraph={{
        basic: {
        type: "website",
        url: "https://bagusmerta.dev",
        title,
        image: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png"
        }
      }}
      twitter={{
        creator: "@bagusmertasntn",
      }}
    />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <script is:inline>
      // Set the height of the screen to a CSS variable due to viewport height bug on mobile devices
      const setScreenHeight = () => {
        document.documentElement.style.setProperty(
          "--screen-height",
          `${window.innerHeight}px`
        );
      };
    </script>
  </body>
</html>