---
interface Props {
  title?: string;
  description?: string;
  banner?: string;
  isBlog?: boolean;
}

import "../styles/globals.css";

import { SEO } from "astro-seo";

import { Tooltips } from 'astro-tooltips';
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

let { title, description, banner } = Astro.props;

title = title || "I Putu Bagus Merta Sentana - Software Engineer";
description = description || "Bagus Merta's personal website";
banner = banner || "meta/opengraph.jpg";

const resolvedImageWithDomain = new URL(
	banner,
	Astro.site,
).toString();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    
    <Tooltips interactive={false} delay={[15, 40]} />

    <SEO
      title={title}
      description={description}
      canonical="https://bagusmerta.com"
      openGraph={{
        basic: {
        type: "website",
        url: "https://bagusmerta.com",
        title,
        image: resolvedImageWithDomain
        },
        image: {
          url: resolvedImageWithDomain
        }
      }}
      twitter={{
        creator: "@bagusmertasntn",
      }}
    />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <script is:inline>
      // Set the height of the screen to a CSS variable due to viewport height bug on mobile devices
      const setScreenHeight = () => {
        document.documentElement.style.setProperty(
          "--screen-height",
          `${window.innerHeight}px`
        );
      };
    </script>
  </body>
</html>